
.submenu{
    border: 1px solid rgb(183, 183, 183);
    border-radius: 1%;
  
}
.primary{
  background-color: #7494bc;
}
.submenu:hover{
    border:none;
   box-shadow:0px 0px 5px 1px rgb(173, 173, 173);
  
    
}
.input-wrapper {
    position: relative;
    width: 271px;
  }
  
  .input {
    box-sizing: border-box;
    color: #191919;
    padding: 15px 15px 15px 35px;
    width: 100%;
  }
  
  .input.password {
    padding: 15px 35px 15px 15px;
  }
  
  .input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-icon.password {
    left: unset;
    right: 12px;
  }
  #aquiimagen{
    border: 1px solid rgb(191, 191, 191);
    
    width: 100%;
    height: 100px;
  }

 

#reloj{
  background-image: linear-gradient(62deg, #144684 0%, #2173d9 100%);
  color : white;
  font-size : 700%; 
  text-align : center;
  border-radius: 45px;
  border:3px solid black;
}
#menu-container {
  background-color: #043b83;
  width: 10%;
  display: none;
  color: white;
}

#menu {
  display: flex;
  list-style: none;
  
}

#menu li {
  margin-right: 20px;
}

#menu li:last-child {
  margin-right: 0;
}

#menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
}

.show-menu {
  display: block !important;
}

/* Estilos para modo oscuro */
body.dark-mode {
  background-color: #222;
  color: #fff;
}
.btn-oscuro{
  background-color: #043b83;
  border: 1px solid #043b83;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.card {
  position: relative;
  display: inline-block;
  margin: 20px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: all 0.3s ease;
}

.card:hover .card-overlay {
  bottom: 30%;
}

.card-overlay h2 {
  margin-top: 0;
}

.card-overlay p {
  margin-bottom: 0;
}
.cookies {
  
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: white;
  font-family: arial;
  text-align: center;
}

.cookies__boton {
  background: initial;
  border: 2px solid white;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  width: 5rem;
  text-align: center;
}
@media (max-width: 600px) {
  #reloj{
    background-image: linear-gradient(62deg, #5daeff 0%, #bd76ff 100%);
    color : black;
    font-size : 330%; 
    text-align : center;
    border-radius: 30px;
    border:3px solid black;
  }
    #menu-container {
      background-color: #043b83;
      width: 30%;
      display: none;
      color: white;
    }
    
    #menu {
      display: flex;
      list-style: none;
      
    }
    
    #menu li {
      margin-right: 20px;
    }
    
    #menu li:last-child {
      margin-right: 0;
    }
    
    #menu a {
      color: #ffffff;
      text-decoration: none;
      font-size: 10px;
      font-weight: bold;
      padding: 10px 15px;
      display: block;
    }
    
  }
